<div class="nested-fields">

  <tr>
    <td><%= f.date_field :date, class: "property_form" %></td>
  </tr>

  <%= link_to_remove_association f do %>
    <i class="fa-regular fa-trash-can fa-lg"></i>
  <% end %>

</div>
