<div class="property_wrapper">
  <div class="property_container">
    <h2>ルーム情報を編集</h2>
    <%= render 'shared/errors', model: @property %>
  </div>

    <%= render 'shared/property_form' %>


</div>
