<div class="reputation_wrapper">
  <div class="reputation_container">
    <h2>口コミを編集</h2>

    <%= render 'shared/errors', model: @reputation %>

    <p class="text_small">※過去に投稿がある場合、新規投稿はできません。</p>

    <%= render 'shared/reputation_form' %>

  </div>

</div>
