<div class="reputation_wrapper">
  <div class="reputation_container">
    <h2>口コミを追加</h2>

    <%= render 'shared/errors', model: @reputation %>

    <%= render 'shared/reputation_form' %>

  </div>

</div>
