<div class="home_wrapper">
  <div class="home_container">
    <h2>このサイトの使い方</h2>
  </div>

  <div class="home_container">
    <h3>【ルームを予約する】</h3>
    <h4>1. 検索フォームに入力する</h4>
    <p>
      ページ上部のフォームに探したい<span class="marker">エリア</span>、<span class="marker">ルーム名やキーワード</span>、<span class="marker">チェックイン・アウト日</span>などを入力して検索すると、条件に合ったルームと料金が表示されます。
    </p>
    
    <h4>2. 予約情報を入力して予約する</h4>
    <p>予約したいルームと日付が決まったら、名前、住所、連絡先などを入力して予約完了してください。予約を完了するには会員登録が必要です。</p>

    <h4>3. フィードバックする</h4>
    <p>
      宿泊後はルームの評価と口コミを入力しましょう。オーナーへの謝辞や改善点を伝えたり、次に宿泊を検討している人に参考にしてもらうことができます。
      口コミはチェックアウトから30日後まで入力できます。
    </p>
  </div>


  <div class="home_container">
    <h3>【ルームを登録する／管理する】</h4>
    <h4>会員登録する</h4>
    <p>会員登録することでルームの予約や貸し出しができるようになります。会員登録なしでもルーム検索のみすることができます。</p>
    <p class="home_welcome_indent">新規会員登録は<%= link_to 'こちら', new_user_registration_path, class: "text_link" %>
    </p>
    <p class="home_welcome_indent">ログインは<%= link_to 'こちら', new_user_session_path, class: "text_link" %>
    </p>
    <h4>新規ルーム登録する</h4>
    <p> 
    ルームを貸し出すことができます。
      メインの写真を1枚、その他の写真を複数枚登録可能です。
    </p>

    <h4>価格変動制について</h4>
    <p>曜日によって価格が自動で変更される機能です。ルームを登録する際にチェックマークを入れることで適用されます。</p>
    <p>その場合でも、設定した最低料金より低く、最高料金より高くなることはありません。</p>
    <table class="home_welcome_indent">
      <tr>
        <td class="home_welcome_ratio">-10%</td>
        <td>日曜日〜月曜日</td>
      </tr>
      <tr>
        <td class="home_welcome_ratio">± 0%</td>
        <td>火曜日〜木曜日</td>
      </tr>
      <tr>
        <td class="home_welcome_ratio">+10%</td>
        <td>金曜日</td>
      </tr>
      <tr>
        <td class="home_welcome_ratio">+20%</td>
        <td>土曜日、祝前日</td>
      </tr>
    </table>
    <p>価格を固定したい場合は価格変動制のチェックを外してください。</p>


    <h4>清掃費/予約料について</h4>
    <p>
      泊数や人数に関わらず、1部屋あたり1回の予約に課される費用のことです。<br>
      一般的にはこの費用を大きくすると長期滞在向け、なしにすると短期滞在向けとなります。<br>
      運営方針によって設定を変更しましょう。<br>
      <span class="home_welcome_indent">
        例1）1泊5,000円、清掃費1,000円の場合 → 1泊6,000円、10泊51,000円<br>
      </span>
      <span class="home_welcome_indent">
        例2）1泊2,000円、清掃費8,000円の場合 → 1泊10,000円、10泊28,000円<br>
      </span>
      長期滞在専用でなければ、基本的には0円、高くても3,000円程度までが良いでしょう。
    </p>


    <h4>口コミを管理する</h4>
    <p>
      口コミ管理ページでは、公序良俗に反した口コミなどを非表示にすることができます。<br>
      一方で表示件数が少ないと、予約検討者が適切な情報を探すことができません。<br>
      都合の悪い内容を消すのではなく、あくまでも明確に事実と異なる口コミなどを対象としましょう。<br>
      ネガティブな口コミを隠さないことで予約検討者からの信頼を高められるかもしれません。<br>
      また、評価だけで文章のないフィードバックは表示されません。
    </p>


    <h4></h4>
    <%= link_to 'トップへ', root_path, class: "button" %>
    <% if user_signed_in? %>
      <%= link_to 'マイページへ', users_mypage_path, class: "button" %>
    <% end %>

  </div>
